* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

#BodyDiv {
    margin: 65px 5px 5px 5px;
    padding: 10px;
    border-radius: 25px;

    height: 800px;
    background-color: whitesmoke;
}

.nav {
    background-color: gainsboro;
    padding: 5px;
}

.nav li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    padding: 24px 14px;
    text-decoration: none;
}

.nav li h1 {
    letter-spacing: 5px;
}

#carouselExampleSlidesOnly {margin-top: 80px;}

#PromoDiv img {
    margin-top: 5px;
    width: 100%;
}

#ProductDiv {
    margin: 25px;
}

#ProductDiv h1 {
    text-align: center;
}

#ProductDiv h2 {
    padding-top: 100px;
}

#ProductDiv h3 {
    padding: 10px;
    background-color: gainsboro;
    border-radius: 25px;
}

#ProductDiv .row {
    background-color: white;
    text-align: center;
    border-radius: 25px;
}

#ProductDiv p {
    text-align: left;
}

#ProductDiv ul {
    text-align: left;
}

#TutorialDiv {
    margin: 25px;
    text-align: center;
}

#TutorialDiv1 {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}

#TutorialDiv2 {
    background-color: white;
    padding: 25px;
    border-radius: 25px;
}

#AboutDiv h1 {
    text-align: center;
}

#AboutDiv .row {
    padding: 25px;
    margin: 25px;
    background-color: white;
    text-align: left;
    border-radius: 25px;
}

#ContactDiv {
    padding: 50px;
    margin: 25px;
    background-color: white;
    text-align: left;
    border-radius: 25px;
}
}